<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% if(typeof(errors) != 'undefined') { %>
		<% for (var x in errors) { %>
		<h3><%= errors[x].message %></h3>
		<% } %>
		<% } %>
		<form action="/quotes" method="post">
			<label>name:</label>
			<input type="text" name="name">
			<label>quote:</label>
			<input type="text" name="quote">
			<input type="submit">

		</form>
	

	
    
</body>
</html>